
@{
    ViewBag.Title = "Hakkimizda";
}

<div class="col-lg-1"><p></p></div>
<div class="col-lg-3">

    <div class="col-lg-12"><h2>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Biz Kimiz").Baslik</h2><br /></div>
    <div class="col-lg-12" ><img src="~/Content/Image/soru-isareti_98720.png" style="width:100px;height:100px;margin-left:25px"/></div>
    <div class="col-lg-12" style="border-color:black;border-style: solid" ><br />@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Biz Kimiz").Metin</div>

</div>
<div class="col-lg-1"><p></p></div>
<div class="col-lg-3">

    <div class="col-lg-12"><h2>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Misyonumuz").Baslik</h2><br /></div>
    <div class="col-lg-12"><img src="~/Content/Image/38306.png" style="width:100px;height:100px;margin-left:25px" /></div>
    <div class="col-lg-12" style="border-color:black;border-style: solid"><br />@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Misyonumuz").Metin</div>

</div>
<div class="col-lg-1"><p></p></div><div class="col-lg-3">
                                   
    <div class="col-lg-12"><h2>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Vizyonumuz").Baslik</h2><br /></div>
    <div class="col-lg-12"><img src="~/Content/Image/580b585b2edbce24c47b2970.png" style="width:100px;height:100px;margin-left:25px" /></div>
    <div class="col-lg-12" style="border-color:black;border-style: solid"><br />@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Vizyonumuz").Metin</div>

</div>

