
@{
    ViewBag.Title = "YasalDuzenleme";
}<div class="col-lg-1">
</div>

<div class="col-lg-11">
    <div class="col-lg-12"><h1>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Kanunlar").Baslik</h1></div>
    <div class="col-lg-12">
        <div class="col-lg-1"><img src="~/Content/Image/dosya.png" style="width:60px;height:60px" /> </div>
        <div class="col-lg-1"><p></p></div>
        <div class="col-lg-1"><a href="@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Kanunlar").Metin">indir</a></div>
        <div class="col-lg-9"> </div>
    </div>
    <div class="col-lg-12"><p><h1>&nbsp;</h1></p></div>
    <div class="col-lg-12"><h1>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Kararnameler").Baslik</h1></div>
    <div class="col-lg-12">
        <div class="col-lg-1"><img src="~/Content/Image/dosya.png" style="width:60px;height:60px" /> </div>
        <div class="col-lg-1"><p></p></div>
        <div class="col-lg-1"><a href="@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Kararnameler").Metin">indir</a></div>
        <div class="col-lg-9"> </div>
    </div>
    <div class="col-lg-12"><p><h1>&nbsp;</h1></p></div>
    <div class="col-lg-12"><h1>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Yönergeler").Baslik</h1></div>
    <div class="col-lg-12">
        <div class="col-lg-1"><img src="~/Content/Image/dosya.png" style="width:60px;height:60px" /> </div>
        <div class="col-lg-1"><p></p></div>
        <div class="col-lg-1"><a href="@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Yönergeler").Metin">indir</a></div>
        <div class="col-lg-9"> </div>
    </div>
    <div class="col-lg-12"><p><h1>&nbsp;</h1></p></div>
    <div class="col-lg-12"><h1>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Genelgeler").Baslik</h1></div>
    <div class="col-lg-12">
        <div class="col-lg-1"><img src="~/Content/Image/dosya.png" style="width:60px;height:60px" /> </div>
        <div class="col-lg-1"><p></p></div>
        <div class="col-lg-1"><a href="@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("Genelgeler").Metin">indir</a></div>
        <div class="col-lg-9"> </div>
    </div>
    <div class="col-lg-12"><p><h1>&nbsp;</h1></p></div>
    <div class="col-lg-12"><h1>@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("DİYKK").Baslik</h1></div>
    <div class="col-lg-12">
        <div class="col-lg-1"><img src="~/Content/Image/dosya.png" style="width:60px;height:60px" /> </div>
        <div class="col-lg-1"><p></p></div>
        <div class="col-lg-1"><a href="@YasamIcin.UI.MVC.Models.SayfaDetayText.Get("DİYKK").Metin">indir</a></div>
        <div class="col-lg-9"> </div>
    </div>

</div>
